@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1 {
    color: var(--couleur-principale);
}

.titre_de_catégorie {
    color: black;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-size: 3.438rem;
    text-transform: uppercase;
}
.categorie {
    color: #000;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 0.813rem;
    text-transform: uppercase;
}
.titre_site {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
}
.nav-menu__item {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 0.813rem;
}
.filtre_cat {
    color: #000;
    font-family: "Barlow", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

footer {
    font-family: "Barlow", sans-serif;
}

.texte_description {
    font-family: "Barlow", sans-serif;
    font-weight: 400rem;
    font-size: 0.75;
}

.nav_footer {
    font-family: "Barlow", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.texte_copyright1 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}

.texte_copyright2 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 0.625rem;
}

.nom-footer {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

.genre_wom {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
}

.genre_men {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
}

.nom_chaussure {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.125;
}

.nb_couleurs {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 0.813rem;
}

.prix_soulier {
    font-family: "Barlow", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}

.btn_ajout-panier {
    font-family: "Barlow", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
}
.nouveau {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
}
