ol {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 9px;
}

.barre-recherche_bouton {
    background: none;
    border: none;
}

.icone_panier {
    margin-bottom: -3px;
}

.titre_site {
    align-items: start;
    position: relative;
}

.filtre {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.trier{

}

.trier_par{

}
.masquer{
    
}

.titre_categorie {
   position: relative;
   left: 40px;
}

.produit{
position: relative;
left: 40px;
bottom: 30px;
}

.triage {
    align-items: flex-end;
}

.barre-recherche_champ {
    border-radius: 180px;
    border: none;
    align-items: center;
}
